{
  "extends": "hnp",
  "rules": {
    "header/header": [
      2,
      "block",
      [
        "!",
        {
          "pattern": " \\* Copyright \\d{4} Quisitive, LLC. All rights reserved.",
          "template": " * Copyright 2022 Quisitive, LLC. All rights reserved."
        },
        " "
      ]
    ]
  }
}
