//registry.npmjs.org/:_authToken=${NPM_TOKEN}

scope=quisitive
init-author-name=Quisitive LLC
init-author-email=support@quisitive.com
init-author-url=https://quisitive.com
init-license=MIT
init-version=1.0.0
scripts-prepend-node-path=true
